@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap");

* {
  font-family: "Inter", sans-serif;
  margin: 0;
}

h1 {
  font-size: 60px;
  font-weight: 800;
}

h2 {
  font-size: 48px;
  font-weight: 800;
}

h3 {
  font-size: 36px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 16px;
}
