body {
  font-family: Arial, Helvetica, sans-serif;
}

.centered {
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  zoom: 2;
}

table {
  font-size: 2rem;
  border-collapse: collapse;

  th,
  td {
    border: 1px solid #ccc;
    padding: 1rem;
  }
}

.pagination {
  margin-top: 1rem;
  zoom: 1.5;

  > span {
    margin: 0 1rem;
  }
}
